<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Coach Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Exercises</h2>
  <ion-list>
    <ion-item *ngFor="let ex of exercises">
      <ion-label>
        <h3>{{ ex.name }}</h3>
        <p>{{ ex.muscleGroup }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addExercisePrompt()" color="primary">
      <ion-icon name="barbell"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="createPlanPrompt()" color="secondary" class="ion-margin-top">
      <ion-icon name="calendar"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="generateCodePrompt()" color="tertiary" class="ion-margin-top">
      <ion-icon name="key"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>